# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List of commonly used libraries by Data Scientists
- List of Data Science tools
- Arithmetic expression in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. TensorFlow

|Data Science Tools|
|-------------|
| Jupyter |
| Spyder |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [10]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335